<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>House Car Prediction</title>
  </head>
  <body>
    <div class = 'login m-4'>
      <h1>Car Price Prediction</h1>
      <form action="{{ url_for('predict')}}"method="post">
        <label for="exampleInputEmail1">Present Price</label>
        <input type="text" name="Present Price" placeholder="5.59" required="required"  class = 'form-control'/>

        <label for="exampleInputEmail1">KMS Driven</label>
        <input type="text" name="KMS Driven" placeholder="27000" required="required" class = 'form-control'/>

        <label for="exampleInputEmail1">Owner</label>
        <input type="text" name="Owner" placeholder="0/1/2" required="required" class = 'form-control'/>

        <label for="exampleInputEmail1">Years</label>
        <input type="text" name="Years" placeholder="8/12/15" required="required" class = 'form-control'/>

        <label for="exampleInputEmail1">Diesel</label>
        <input type="text" name="Fuel_Type_Diesel" placeholder="1 - Diesel,0 - Petrol/CNG" required="required" class = 'form-control'/>

        <label for="exampleInputEmail1">Petrol</label>
        <input type="text" name="Fuel_Type_Petrol" placeholder="1 - Petrol,0 - Diesel/CNG" required="required" class = 'form-control'/>

        <label for="exampleInputEmail1">Dealer/Individual</label>
        <input type="text" name="Seller_Type_Individual" placeholder="Dealer - 1, Individual - 0" required="required" class = 'form-control'/>

        <label for="exampleInputEmail1">Manual/Automatic</label>
        <input type="text" name="Transmission_Manual" placeholder="Manual - 1, Automatic - 0" required="required" class = 'form-control'/><br>
  
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button><br>
      </form>
    </div>
    <div>
      <b class = 'mx-4'>{{prediction_text}}</b>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
